<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelAppDemo"
        tools:targetApi="31">

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add this -->
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".CreatePostActivity" />
        <activity android:name=".BestDestinationsActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".HotelsActivity" />
        <activity android:name=".TransportActivity" />

        <activity android:name=".ManageUsersActivity" />
        <activity android:name=".ManagePostsActivity" />

        <!-- Firebase default notification settings -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/white" />
    </application>

</manifest>
